# =========================
# ENVIRONMENT VARIABLES
# =========================

.env
.env.*
!.env.example


# =========================
# NODE
# =========================

node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*


# =========================
# BUILD FILES
# =========================

frontend/dist/
backend/dist/
dist/
build/


# =========================
# VITE
# =========================

frontend/.vite/
.vite/


# =========================
# LOGS
# =========================

*.log
logs/


# =========================
# OS FILES
# =========================

.DS_Store
Thumbs.db


# =========================
# IDE
# =========================

.vscode/
.idea/


# =========================
# TEMPORARY FILES
# =========================

*.tmp
*.temp
*.swp